{% block content %}

<div class="row">
	<div class="medium-12 columns">
<ul class="clearing-thumbs" data-clearing>
  <li><a href="assets/img/gal1.png"><img src="assets/img/gal1_th.jpg"></a></li>
  <li><a href="assets/img/gal2.jpg"><img src="assets/img/gal2_th.jpg"></a></li>
  <li><a href="assets/img/gal3.png"><img src="assets/img/gal3_th.jpg"></a></li>
</ul>

	</div>
</div>
{% endblock %}