{% block content %}

<div class="row">
  <div class="medium-12 columns">
  <h1>Orbit Slider</h1>
  </div>

<ul class="example-orbit" data-orbit>
  <li>
    <img src="assets/img/gal1.png" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <img src="assets/img/gal2.png" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="assets/img/gal3.png" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
  <li>
    <img src="assets/img/gal4.png" alt="slide 4" />
    <div class="orbit-caption">
      Caption Four.
    </div>
  </li>
  <li>
    <img src="assets/img/gal5.png" alt="slide 5" />
    <div class="orbit-caption">
      Caption Five.
    </div>
  </li>
</ul>
</div>

<div class="row">
  <div class="medium-8 columns">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum odio ac leo mollis eleifend. Vestibulum vitae pellentesque quam, a egestas tortor. Aenean facilisis luctus ornare. Aenean malesuada dapibus sapien, et feugiat ipsum sollicitudin a. Etiam sed tristique nisl, id dignissim sem. Donec eleifend lectus nec sapien efficitur, a pulvinar metus finibus. Vivamus sed leo non nibh congue accumsan ac non lacus. Vivamus feugiat sollicitudin purus in egestas. Fusce placerat pharetra tincidunt. Maecenas efficitur metus vitae leo imperdiet mollis. Nulla facilisi. Pellentesque eget orci sed mi maximus fermentum. Donec id quam ac enim lobortis pellentesque. Vivamus sed pretium nulla.
    </p>
  </div>

  <div class="medium-4 columns">
    <div class="panel">
    <h3>Ads</h3>
      <div class="your-class">
          <div>Your content</div>
          <div>Your content</div>
          <div>Your content</div>
      </div>
    </div>
  </div>


{% endblock %}