{% block content %}
<div class="row">
	<div class="medium-12 columns">
	<div class="range-slider" data-slider id="slider">
  		<span class="range-slider-handle" role="slider" tabindex="0"></span>
  		<span class="range-slider-active-segment"></span>
  		<input type="hidden">
	</div>
<img id="bar" src="assets/img/gal1.png">
</div>
</div>

{% endblock %}